{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link rel="icon" href="{% static 'vendor/fontawesome-free/svgs/solid/crosshairs.svg' %}">

<!-- Custom styles for dashboard template-->
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

<body id="page-top">

<div>
<nav class="navbar navbar-expand-lg navbar-light bg-light topbar mb-4 static-top shadow">
    <div class="container">

        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="tutorial">
        <div class="sidebar-brand-icon">
            <i class="fas fa-bullseye"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Option Snipe</div>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-secondary" href="modeling">Modeling</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="tutorial">Tutorial</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="rnd">RND Computation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="contact">Contact</a>
            </li>
          </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block page_content %}{% endblock %}
</div>

<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

</div>


<script
src="https://code.jquery.com/jquery-3.5.1.min.js"
integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
